$core_v2_page.SetContentType('application/json')

#set($document = false)
#set($document = $sharepoint_v2_file.Current)
#if(!$document)
	$core_v2_page.SendJsonError($core_v2_language.GetResource('NotFound'))
#end

#if($document.HasErrors())
	$core_v2_page.SendJsonError($document.Errors)
#end

#set($canEdit = $sharepoint_v2_listItem.CanEdit($document.ContentId))
#if ($canEdit)
	#set($deleteInfo = $sharepoint_v2_file.Delete($document.ContentId))
	#if(!$deleteInfo)
		$core_v2_page.SendJsonError($core_v2_language.GetResource('NotFound'))
	#end
	#if($deleteInfo.Errors.Count > 0)
		$core_v2_page.SendJsonError($deleteInfo.Errors)
	#end
	{
		"valid"      : true
	}
#else
	$core_v2_page.SendJsonError($core_v2_language.GetResource('NoEditPermissions'))
#end