#set($list = $sharepoint_v2_list.Get($listItem.ListId))

#set($accessingUserIsRegistered = $core_v2_user.IsRegistered($core_v2_user.Accessing.Id))
#set($widgetId = $core_v2_widget.UniqueId('listItem'))

<div class="full-view" id="${widgetId}">

	<h3 class="list-item-name">
		<a href="#${widgetId}" class="internal-link">
			<span></span>$!{listItem.DisplayName}
		</a>
	</h3>

	#set($attachments = false)

	<div class="item-fields">
		#foreach($field in $list.Fields)
			#if(!$field.ReadOnlyField && !$field.Hidden && $field.FieldTypeKind != "Attachments")
				#set($value = false)
				#set($value = $listItem.get_item($field.InternalName))
				#set($listField = $list.GetField($field.InternalName))
				#if ($listField.FieldTypeKind == 'Number' && $sharepoint_v1_fieldnumber.ShowAsPercentage($listField))
					#set($value = 100 * $core_v2_utility.ParseDouble($value))
					#set($value = "${value} %")
				#end
				#if($value && $value != '')
					<div class="field-item">
						<div class="field-item-header">$!{field.Title}</div>
						<div class="field-item-content">$!{value}</div>
					</div>
				#end
			#end
			#if($field.FieldTypeKind == "Attachments")
				#set($attachments = $sharepoint_v1_attachments.Attachments($listItem, $list, $listItem.Value($field.InternalName)))
			#end
		#end
				
		#if($attachments)
			<div class="field-item">
				<div class="field-item-header">$core_v2_language.GetResource('SharePoint_ListItem_Attachments')</div>
				<div class="field-item-content">
				#foreach($attach in $attachments)
					<div><a href="$!{list.SPWebUrl}$!{attach.ServerRelativeUrl}">$!{attach.Name}</a></div>
				#end
				</div>
			</div>
		#end		
	</div>

	#if($core_v2_tags.CanAddTags($listItem.ContentId, $listItem.ContentTypeId))
		<div class="post-tags">
			#set($tagUrlFormat = $core_v2_page.AbsoluteUrl($core_v2_groupUrls.Tags($core_v2_group.Current.Id, $core_v2_utility.MakeList('TAGNAME')).Replace('TAGNAME','{tag}')))
			$core_v2_ui.Tag($listItem.ContentId, $listItem.ContentTypeId, "%{UrlFormat=$tagUrlFormat}")
		</div>
	#end

	#if($accessingUserIsRegistered)
		#set ($likeFormat = '{toggle} <span class="count"><span class="icon"></span>{count}</span>')
	#else
		#set ($likeFormat = '<span class="count"><span class="icon"></span>{count}</span>')
	#end
	<div class="post-like">
		$core_v2_ui.Like($listItem.ContentId, $listItem.ContentTypeId, "%{ Format = $likeFormat }")
	</div>

	#set($canCreateRating = false)
	#set($canCreateRating = $core_v2_rating.CanCreate($listItem.ContentId, $listItem.ContentTypeId))
	#if($canCreateRating)
		<div class="post-rating">
			$core_v2_language.GetResource("SharePoint_ListItem_RateThis")
			$core_v2_ui.Rate($listItem.ContentId, $listItem.ContentTypeId)
		</div>
	#end

	<div class="post-moderate">
		#if ($core_v2_user.IsRegistered($core_v2_user.Accessing.Id))

			#set($DQ = '"')

			#set($menuItems = $core_v2_utility.MakeList())

			#set($hasEditPermission = $sharepoint_v2_listItem.CanEdit($list.SPWebUrl, $list.Id, "$listItem.Id"))
			#if ($hasEditPermission)
				#set($editUrl = $sharepoint_v1_urls.Edit($listItem.ContentId, $listItem.ContentTypeId))
				#if ($editUrl && $editUrl.Length > 0)
					#set ($index = $menuItems.Add("{${DQ}text${DQ}:${DQ}${core_v2_language.GetResource('SharePoint_ListItem_ModerationMenu_Edit')}${DQ}, ${DQ}href${DQ}:${DQ}${editUrl}${DQ}}"))
				#end
				#set($index = $menuItems.Add("{${DQ}text${DQ}:${DQ}${core_v2_language.GetResource('SharePoint_ListItem_ModerationMenu_Delete')}${DQ}, ${DQ}href${DQ}:${DQ}#${DQ}, ${DQ}className${DQ}:${DQ}delete-post${DQ}}"))
			#end

			#set($moderateOptions = "%{}")
			$moderateOptions.Add('CssClass','expanded')
			$moderateOptions.Add('AdditionalLinks', "[${core_v2_utility.Join(',', $menuItems)}]")
			$core_v2_ui.Moderate($listItem.ContentId, $listItem.ContentTypeId, $moderateOptions)

		#end
	</div>

	<div style="clear:both;"></div>
</div>