#set($pageSize = 5)
#set($pageSize = $core_v2_widget.GetIntValue('pageSize', 5))
#set($sortBy = 'Name')
#set($sortBy = $core_v2_page.GetQueryStringValue('w_sortBy'))
#set($sortOrder = 'Ascending')
#set($sortOrder = $core_v2_page.GetQueryStringValue('w_sortOrder'))
#set($searchText = '')
#set($searchText = $core_v2_page.GetQueryStringValue('w_searchText'))
#set($lists = false)
#set($lists = $sharepoint_v2_list.List($core_v2_group.Current.Id, "%{SortBy = $sortBy, SortOrder = $sortOrder, PageIndex = 0, PageSize = $pageSize, SearchText = $searchText}"))
#if ($lists)
	$core_v2_widget.ExecuteFile('header.vm')
	$core_v2_widget.ExecuteFile('content.vm')
#end
