## create $listItemsOptions

#set($listItemsOptions = "%{}")

#set($sortBy = false)
#set($sortBy = $core_v2_page.GetQueryStringValue('sortBy'))
#if(!$sortBy)
	#set($sortBy = 'Title')
#end
$listItemsOptions.Add('SortBy', $sortBy) 

#set($sortOrder = false)
#set($sortOrder = $core_v2_page.GetQueryStringValue('sortOrder'))
#if(!$sortOrder)
	#set($sortOrder = 'Ascending')
#end
$listItemsOptions.Add('SortOrder', $sortOrder) 

#set($pageSize = $core_v2_widget.GetIntValue('pageSize',25))
#if ($pageSize)
	$listItemsOptions.Add('PageSize', $pageSize)
#end

#set($pageIndex = $core_v2_utility.ParseInt($core_v2_page.GetQueryStringValue('page')))
#if ($pageIndex)
	$listItemsOptions.Add('PageIndex', $pageIndex)
#end

#if($view)
	$listItemsOptions.Add('ViewFields', $view.Fields)
	$listItemsOptions.Add('ViewQuery', $view.Query)
#end