Telligent.Evolution.Extensions.OpenSearch/bin
Telligent.Evolution.Extensions.OpenSearch/obj
Telligent.Evolution.Extensions.SharePoint.Client/bin
Telligent.Evolution.Extensions.SharePoint.Client/obj
Telligent.Evolution.Extensions.SharePoint.Components/bin
Telligent.Evolution.Extensions.SharePoint.Components/obj
Telligent.Evolution.Extensions.SharePoint.IdentityProvider/bin
Telligent.Evolution.Extensions.SharePoint.IdentityProvider/obj
Telligent.Evolution.Extensions.SharePoint.IntegrationManager/bin
Telligent.Evolution.Extensions.SharePoint.IntegrationManager/obj
Telligent.Evolution.Extensions.SharePoint.ProfileSync/bin
Telligent.Evolution.Extensions.SharePoint.ProfileSync/obj
Telligent.Evolution.Extensions.SharePoint.WebServices/bin
Telligent.Evolution.Extensions.SharePoint.WebServices/obj