#if($field.FieldTypeKind == 'Text')
	$core_v2_widget.ExecuteFile('SingleLineOfTextEditor.vm')
#elseif($field.FieldTypeKind == 'Note')
	$core_v2_widget.ExecuteFile('MultipleLinesOfTextEditor.vm')
#elseif($field.FieldTypeKind == 'Choice')
	$core_v2_widget.ExecuteFile('ChoiceEditor.vm')
#elseif($field.FieldTypeKind == 'MultiChoice')
	$core_v2_widget.ExecuteFile('MultiChoiceEditor.vm')
#elseif($field.FieldTypeKind == 'Number')
	$core_v2_widget.ExecuteFile('NumberEditor.vm')
#elseif($field.FieldTypeKind == 'Lookup')
	$core_v2_widget.ExecuteFile('LookupEditor.vm')
#elseif($field.FieldTypeKind == 'DateTime')
	$core_v2_widget.ExecuteFile('DateAndTimeEditor.vm')
#elseif($field.FieldTypeKind == 'User')
	$core_v2_widget.ExecuteFile('PersonOrGroupEditor.vm')
#elseif($field.FieldTypeKind == 'Boolean' || $field.FieldTypeKind == 'AllDayEvent' || $field.FieldTypeKind == 'CrossProjectLink')
	$core_v2_widget.ExecuteFile('YesNoEditor.vm')
#elseif($field.FieldTypeKind == 'URL')
	$core_v2_widget.ExecuteFile('HyperlinkOrPictureEditor.vm')
#elseif($field.FieldTypeKind == 'Currency')
	$core_v2_widget.ExecuteFile('CurrencyEditor.vm')
#elseif($field.FieldTypeKind == 'Attachments')
	$core_v2_widget.ExecuteFile('AttachmentsEditor.vm')
#elseif($field.FieldTypeKind == 'File')
	$core_v2_widget.ExecuteFile('FileEditor.vm')
#elseif($field.FieldTypeKind == 'Invalid')
	#set($type = $sharepoint_v1_fieldeditor.TypeOf($field))
	#if($type == 'TaxonomyFieldTypeMulti' || $type == 'TaxonomyFieldType')
		$core_v2_widget.ExecuteFile('taxonomies-editor.vm')
	#end
#end