<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleUPS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleUPS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <ConsoleUPS.Properties.Settings>
            <setting name="ConsoleUPS_MyProfileUPSService_UserProfileService"
                serializeAs="String">
                <value>http://sharepoint2010.dev.telligent.com/_vti_bin/UserProfileService.asmx</value>
            </setting>
        </ConsoleUPS.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ConsoleUPS.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value>domain</value>
            </setting>
        </ConsoleUPS.Properties.Settings>
    </userSettings>
</configuration>