$core_v2_page.SetContentType('application/json')

#set($libraryId = $core_v2_utility.ParseGuid($core_v2_page.GetFormValue('libraryId')))
#set($libraryName = $core_v2_page.GetFormValue('libraryName'))
#set($libraryDescription = $core_v2_page.GetFormValue('libraryDescription'))
#set($viewId = $core_v2_utility.ParseGuid($core_v2_page.GetFormValue('viewId')))

#set($updateInfo = false)
#set($updateInfo = $sharepoint_v2_library.Update($libraryId, "%{Title = $libraryName, Description = $libraryDescription, DefaultViewId = $viewId}"))
#if ($updateInfo.HasErrors)
	$core_v2_page.SendJsonError($updateInfo.Errors)
#end

{
	"valid": true,
	"redirectUrl": "$core_v2_encoding.JavascriptEncode($sharepoint_v2_fileUrls.Browse($libraryId))"
}