##
## Sub-Form shown whenever user credentials need to be collected
##

<li class="field-item user-name required">
    #if ($loginTypeSetting == "both")
        <span class="field-item-input">
            <input type="radio" name="$core_v2_encoding.HtmlAttributeEncode($loginTypeInput)" id="$core_v2_widget.UniqueId('LoginTypeEmail')" value="email" class="login-type" />
            <label for="$core_v2_widget.UniqueId('LoginTypeEmail')">
                $core_v2_language.GetResource('Login_Email_Address')
            </label>
        </span>
        <span class="field-item-input">
            <input type="radio" name="$core_v2_encoding.HtmlAttributeEncode($loginTypeInput)" id="$core_v2_widget.UniqueId('LoginTypeUserName')" value="username" class="login-type" checked="checked" />
            <label for="$core_v2_widget.UniqueId('LoginTypeUserName')">
                #if ($useCommunityNames)
                    $core_v2_language.FormatString($core_v2_language.GetResource('Login_Community_UserName'), $siteInfo.SiteName)
                #else
                    $core_v2_language.GetResource('Login_SignInName')
                #end
            </label>
        </span>
    #elseif ($loginTypeSetting == "email")
        <label class="field-item-name" for="$core_v2_encoding.HtmlAttributeEncode($usernameInput)">
            $core_v2_language.GetResource('Login_Email')
        </label>
    #else
        <label class="field-item-name" for="$core_v2_encoding.HtmlAttributeEncode($usernameInput)">
            #if ($useCommunityNames)
                $core_v2_language.FormatString($core_v2_language.GetResource('Login_Community_UserName'), $siteInfo.SiteName)
            #else
                $core_v2_language.GetResource('Login_SignInName')
            #end
        </label>
    #end
    <span class="field-item-input">
        <input name="$core_v2_encoding.HtmlAttributeEncode($usernameInput)" id="$core_v2_encoding.HtmlAttributeEncode($usernameInput)" maxlength="64" size="30" type="text">
    </span>
    <span class="field-item-validation" style="display: none;"></span>
</li>

<li class="field-item password required">
	<label class="field-item-name" for="$core_v2_encoding.HtmlAttributeEncode($passwordInput)">
		#if ($useCommunityNames)
			$core_v2_language.FormatString($core_v2_language.GetResource('Login_Community_Password'), $siteInfo.SiteName)
		#else
			$core_v2_language.GetResource('Login_Password')
		#end
	</label>
    <span class="field-item-input">
        <input name="$core_v2_encoding.HtmlAttributeEncode($passwordInput)" id="$core_v2_encoding.HtmlAttributeEncode($passwordInput)" maxlength="64" size="30" type="password" autocomplete="off">
    </span>
	<span class="field-item-validation" style="display: none;"></span>
</li>
