#set($sharepoint_v2_library.View = "0")

#set($library = $sharepoint_v2_library.Current)
$core_v2_widget.ExecuteFile('process-options.vm')
#set($fileList = $sharepoint_v2_file.List($library.Id, $fileListOptions))
#set($parentFolder = false)
#set($parentFolder = $sharepoint_v1_folder.GetParent("$library.Id", $folder))
$core_v2_widget.ExecuteFile('check-user-permissions.vm')

#set($maxLinks = 2)
#set($avatarWidth = 44)
#set($avatarHeight = 44)
#set($fileIconWidth = 55)
#set($fileIconHeight = 55)
#set($authorNameLength = 10)

#foreach($file in $fileList)
#beforeall
	<ul class="content-list content margin-bottom list-view">
#each
	#set($author = false)
	#if ($file.Author && $file.Author.Email)
		#set($author = $core_v2_user.Get("%{Email = $file.Author.Email}"))
	#end

	<li class="content-item #if($file.IsFolder) folder-type #else file-type #end" data-contentid="$!file.ContentId">
		<div class="content abbreviated with-thumbnail">
			#if($file.IsFolder)
				<div class="thumbnail">
					<a href="#$!file.Path" class="internal-link view-post">
						<div class="post-preview folder-button">
							<span></span>$!file.Name
						</div>
					</a>
				</div>
				<div class="author">
					<div class="avatar">
						#if($author && $author.ProfileUrl && $author.DisplayName && $author.AvatarUrl)
							<a href="$core_v2_encoding.HtmlAttributeEncode($author.ProfileUrl)">
								$core_v2_ui.GetResizedImageHtml($author.AvatarUrl, $avatarWidth, $avatarHeight, "%{border='0px', alt=$author.DisplayName, ResizeMethod = 'ZoomAndCrop' }")
							</a>
						#elseif($author && $author.DisplayName && $author.AvatarUrl)
							$core_v2_ui.GetResizedImageHtml($author.AvatarUrl, $avatarWidth, $avatarHeight, "%{border='0px', alt=$author.DisplayName, ResizeMethod = 'ZoomAndCrop' }")
						#elseif($file.Author && $file.Author.AvatarUrl && $file.Author.DisplayName)
							$core_v2_ui.GetResizedImageHtml($file.Author.AvatarUrl, $avatarWidth, $avatarHeight, "%{border='0px', alt=$file.Author.DisplayName, ResizeMethod = 'ZoomAndCrop' }")
						#end
					</div>
					<span class="user-name">
						#if ($author && $author.ProfileUrl && $author.DisplayName)
							<a href="$core_v2_encoding.HtmlAttributeEncode($author.ProfileUrl)" class="internal-link view-user-profile">
								$core_v2_language.Truncate($author.DisplayName, $authorNameLength, "...")
							</a>
						#elseif($author && $author.DisplayName)
							$core_v2_language.Truncate($author.DisplayName, $authorNameLength, "...")
						#elseif($file.Author && $file.Author.DisplayName)
							$core_v2_language.Truncate($file.Author.DisplayName, $authorNameLength, "...")
						#end
					</span>
				</div>
				<div class="attributes">
					<ul class="attribute-list">
						<li class="attribute-item">
							<span class="attribute-value">$core_v2_language.FormatDate($file.Modified)</span>
						</li>
					</ul>
				</div>
				<h3 class="name"><a href="#$!file.Path" class="internal-link view-post"><span></span>$!{file.Name}</a></h3>
				#if($isAdmin || $isOwner || $isManager)
					<div class="status ui-links" data-direction="horizontal" data-minlinks="0" data-maxlinks="0">
						<ul class="attribute-list">
							<li class="attribute-item folder-rename">
								<a href="#" data-messagename="renameFolderSubscribe" data-path="$!file.Path" data-contentId="$!file.ContentId">$core_v2_language.GetResource('ContextMenu_RenameFolder')</a>
							</li>
							<li class="attribute-item folder-permissions">
								<a href="#" data-messagename="managePermissionsSubscribe" data-contentId="$!file.ContentId">$core_v2_language.GetResource('ContextMenu_ManagePermissions')</a>
							</li>
							<li class="attribute-item folder-delete">
								<a href="#" data-messagename="deleteFolderSubscribe" data-contentId="$!file.ContentId">$core_v2_language.GetResource('ContextMenu_DeleteFolder')</a>
							</li>
							<li class="attribute-item">
								<a href="#" data-more>$core_v2_language.GetResource('ContextMenu_More')</a>
							</li>
							<li class="attribute-item">
								<a href="#" data-cancel>$core_v2_language.GetResource('ContextMenu_Cancel')</a>
							</li>
						</ul>
					</div>
				#end
			#else
				<div class="thumbnail">
					<a href="$core_v2_encoding.HtmlAttributeEncode($file.Url)" class="internal-link view-post">
						<div class="post-preview">
							<img src='$!core_v2_ui.GetFileTypeImageUrl($file.Name, "%{width = $fileIconWidth, height = $fileIconHeight}")' alt="$!file.Name"></img>
						</div>
					</a>
				</div>
				<div class="author">
					<div class="avatar">
						#if($author && $author.ProfileUrl && $author.AvatarUrl && $author.DisplayName)
							<a href="$core_v2_encoding.HtmlAttributeEncode($author.ProfileUrl)">
								$core_v2_ui.GetResizedImageHtml($author.AvatarUrl, $avatarWidth, $avatarHeight, "%{border = '0px', alt = $author.DisplayName, ResizeMethod = 'ZoomAndCrop' }")
							</a>
						#elseif($author && $author.AvatarUrl && $author.DisplayName)
							$core_v2_ui.GetResizedImageHtml($author.AvatarUrl, $avatarWidth, $avatarHeight, "%{border = '0px', alt = $author.DisplayName, ResizeMethod = 'ZoomAndCrop' }")
						#elseif($file.Author && $file.Author.AvatarUrl && $file.Author.DisplayName)
							$core_v2_ui.GetResizedImageHtml($file.Author.AvatarUrl, $avatarWidth, $avatarHeight, "%{border = '0px', alt = $file.Author.DisplayName, ResizeMethod = 'ZoomAndCrop' }")
						#end
					</div>
					<span class="user-name">
						#if ($author && $author.ProfileUrl && $author.DisplayName)
							<a href="$core_v2_encoding.HtmlAttributeEncode($author.ProfileUrl)" class="internal-link view-user-profile">
								$core_v2_language.Truncate($author.DisplayName, $authorNameLength, "...")
							</a>
						#elseif($author && $author.DisplayName)
							$core_v2_language.Truncate($author.DisplayName, $authorNameLength, "...")
						#elseif($file.Author && $file.Author.DisplayName)
							$core_v2_language.Truncate($file.Author.DisplayName, $authorNameLength, "...")
						#end
					</span>
				</div>
				<div class="attributes">
					<ul class="attribute-list">
						<li class="attribute-item">
							<span class="attribute-value">$core_v2_language.FormatDate($file.Modified)</span>
						</li>
					</ul>
				</div>
				<h3 class="name"><a href="$file.Url" class="internal-link view-post"><span></span>$!{file.DisplayName}</a></h3>
				<div class="status">
					<ul class="attribute-list">
						<li class="attribute-item is-checked-out $!{file.ContentId}"  #if(!$file.IsCheckedOut) style="display: none;" #end>
							<span class="attribute-value">$core_v2_language.GetResource('ListView_IsCheckedOut')</span>
						</li>
						#set($rating = false)
						#set($rating = $core_v2_rating.Get($file.ContentId).Value)
						#if($rating)
						<li class="attribute-item rating">
							<span class="attribute-value">$core_v2_ui.Rate($file.ContentId, $file.ContentTypeId, "%{ReadOnly = 'true',CssClass = 'small'}")</span>
						</li>
						#end
						<li class="attribute-item">
							<div class="ui-links" data-direction="horizontal" data-minlinks="0" data-maxlinks="0">
								<ul>
									#if($isAdmin || $isOwner || $isManager)
										<li class="attribute-item checkIn">
											<a href="#" data-type="checkIn" data-messagename="checkInSubscribe" data-contentId="$!file.ContentId"  #if(!$file.IsCheckedOut) style="display: none;" #end>$core_v2_language.GetResource('ContextMenu_CheckIn')</a>
										</li>
										<li class="attribute-item discard-checkOut">
											<a href="#" data-type="discardCheckOut" data-messagename="discardCheckOutSubscribe" data-contentId="$!file.ContentId"  #if(!$file.IsCheckedOut) style="display: none;" #end>$core_v2_language.GetResource('ContextMenu_DiscardCheckOut')</a>
										</li>
										<li class="attribute-item checkOut">
											<a href="#" data-type="checkOut" data-messagename="checkOutSubscribe" data-contentId="$!file.ContentId" #if($file.IsCheckedOut) style="display: none;" #end>$core_v2_language.GetResource('ContextMenu_CheckOut')</a>
										</li>
									#end

									#set($fileUrl = $core_v2_encoding.JavascriptEncode("${library.SPWebUrl}${file.Path}"))
									#if ($library.VersioningEnabled)
										<li class="attribute-item version-history">
											<a href="#" data-messagename="versionHistorySubscribe" data-contentId="$!file.ContentId">$core_v2_language.GetResource('ContextMenu_VersionHistory')</a>
										</li>
									#end
									<li class="attribute-item open-file">
										<a href="$fileUrl" target="_blank">$core_v2_language.GetResource('ContextMenu_OpenFile')</a>
									</li>
									#if($isAdmin || $isOwner || $isManager)
										<li class="attribute-item edit-file">
											<a href="$core_v2_encoding.HtmlAttributeEncode($fileUrl)" data-messagename="editDocumentSubscribe" target="_blank">$core_v2_language.GetResource('ContextMenu_EditFile')</a>
										</li>
									#end
									<li class="attribute-item sendnotification-file">
										<a href="#" data-messagename="sendNotificationSubscribe" data-contentId="$!file.ContentId">$core_v2_language.GetResource('ContextMenu_SendNotification')</a>
									</li>
									#if($isAdmin || $isOwner || $isManager)
										<li class="attribute-item manage-permissions">
											<a href="#" data-messagename="managePermissionsSubscribe" data-contentId="$!file.ContentId">$core_v2_language.GetResource('ContextMenu_ManagePermissions')</a>
										</li>
										<li class="attribute-item delete-file">
											<a href="#" data-messagename="deleteFileSubscribe" data-contentId="$!file.ContentId">$core_v2_language.GetResource('ContextMenu_DeleteFile')</a>
										</li>
									#end
									<li class="attribute-item">
										<a href="#" data-more>$core_v2_language.GetResource('ContextMenu_More')</a>
									</li>
									<li class="attribute-item">
										<a href="#" data-cancel>$core_v2_language.GetResource('ContextMenu_Cancel')</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			#end
		</div>
	</li>
#afterall
	</ul>
	$core_v2_ui.Pager($pageIndex, $pageSize, $fileList.TotalCount, "%{QueryStringProperty = 'page'}")
#nodata
	<div class="message norecords">$core_v2_language.GetResource('NoRecords')</div>
#end
