$core_v2_page.SetContentType('application/json')

#set($groupId = $core_v2_utility.ParseInt($core_v2_page.GetFormValue('groupId')))
#set($url = $core_v2_page.GetFormValue('spwebUrl'))
#set($libraryId = $core_v2_utility.ParseGuid($core_v2_page.GetFormValue('libraryId')))

#set($library = false)
#set($library = $sharepoint_v2_library.Add($groupId, $libraryId, $url))
#if($library && !$library.HasErrors)
	{
		"valid"    : true, 
		"library"  : {
			"id"         : "$!{library.Id}",
			"name"       : "$!{core_v2_encoding.JavascriptEncode($library.Name)}",
			"description": "$!{core_v2_encoding.JavascriptEncode($library.Description)}",
			"groupId"    : "$!{library.GroupId}",
			"root"       : "$!{core_v2_encoding.JavascriptEncode($library.Root)}",
			"url"        : "$!{core_v2_encoding.JavascriptEncode($library.Url)}",
			"spviewUrl"  : "$!{core_v2_encoding.JavascriptEncode($library.SPViewUrl)}",
			"spwebUrl"   : "$!{core_v2_encoding.JavascriptEncode($library.SPWebUrl)}"
		},
		#set($pagedList = $sharepoint_v2_library.List($groupId, "%{PageIndex = 0, PageSize = 1}"))
		#if ($pagedList && $pagedList.Errors.Count == 0)
			#if($pagedList.TotalCount == 1)
				"urlRedirect" : "$!{core_v2_encoding.JavascriptEncode($sharepoint_v1_urls.Library($library.Id))}",
			#end
			"count"      : $!{pagedList.TotalCount}
		#elseif($pagedList)
			$core_v2_page.SendJsonError($pagedList.Errors)
		#end
	}
#elseif($library)
	$core_v2_page.SendJsonError($library.Errors)
#end