#if($field.FieldTypeKind == 'Text')
	$core_v2_widget.ExecuteFile('single-line-of-text-editor.vm')
#elseif($field.FieldTypeKind == 'Note')
	$core_v2_widget.ExecuteFile('multiple-lines-of-text-editor.vm')
#elseif($field.FieldTypeKind == 'Choice')
	$core_v2_widget.ExecuteFile('choice-editor.vm')
#elseif($field.FieldTypeKind == 'MultiChoice')
	$core_v2_widget.ExecuteFile('multi-choice-editor.vm')
#elseif($field.FieldTypeKind == 'Number')
	$core_v2_widget.ExecuteFile('number-editor.vm')
#elseif($field.FieldTypeKind == 'Lookup')
	$core_v2_widget.ExecuteFile('lookup-editor.vm')
#elseif($field.FieldTypeKind == 'DateTime')
	$core_v2_widget.ExecuteFile('date-and-time-editor.vm')
#elseif($field.FieldTypeKind == 'User')
	$core_v2_widget.ExecuteFile('person-or-group-editor.vm')
#elseif($field.FieldTypeKind == 'Boolean' || $field.FieldTypeKind == 'AllDayEvent' || $field.FieldTypeKind == 'CrossProjectLink')
	$core_v2_widget.ExecuteFile('yes-no-editor.vm')
#elseif($field.FieldTypeKind == 'URL')
	$core_v2_widget.ExecuteFile('hyperlink-or-picture-editor.vm')
#elseif($field.FieldTypeKind == 'Currency')
	$core_v2_widget.ExecuteFile('currency-editor.vm')
#elseif($field.FieldTypeKind == 'File')
	$core_v2_widget.ExecuteFile('file-editor.vm')
#elseif($field.FieldTypeKind == 'Invalid')
	#set($type = $sharepoint_v1_fieldeditor.TypeOf($field))
	#if($type == 'TaxonomyFieldTypeMulti' || $type == 'TaxonomyFieldType')
		$core_v2_widget.ExecuteFile('taxonomies-editor.vm')
	#end
#end