$core_v2_page.SetContentType('application/json')

#set($listId = $core_v2_utility.ParseGuid($core_v2_page.GetFormValue('listId')))
#set($deleteList = $core_v2_utility.ParseBool($core_v2_page.GetFormValue('isDelete')))
#set($deleteInfo = $sharepoint_v2_list.Delete($listId, $deleteList))
#if ($deleteInfo.HasErrors)
	$core_v2_page.SendJsonError($deleteInfo.Errors)
#end

{
	"valid": true
}
