<div class="message error" id="$core_v2_widget.UniqueId('ErrorMessageId')" style="display:none;"></div>
<fieldset class="field-list">
	<h1>$!core_v2_language.GetResource('ImportList')</h1>
	<ul class="field-list">
		## SharePoint Web
		<li class="field-item">
			<label class="field-item-header">$core_v2_language.GetResource('SiteName')</label>
			<span class="field-item-input">
				<input id="$core_v2_widget.UniqueId('WebUrl')" type="text" required="required"/>
			</span>
			<span class="field-item-validation" style="display: none;"></span>
		</li>
		## List Name
		<li class="field-item">
			<label class="field-item-header">$core_v2_language.GetResource('ListName')</label>
			<span class="field-item-input">
				<input id="$core_v2_widget.UniqueId('ListId')" type="text" required="required"/>
			</span>
			<span class="field-item-validation" style="display: none;"></span>
		</li>
		## List Default View
		<li class="field-item">
			<label class="field-item-header">$core_v2_language.GetResource('DefaultView')</label>
			<span class="field-item-input">
				<input id="$core_v2_widget.UniqueId('ViewId')" type="text" required="required"/>
			</span>
			<span class="field-item-validation" style="display: none;"></span>
		</li>
		## Save
		<li class="field-item submit-button">
			<span class="field-item-input">
				<a id="$core_v2_widget.UniqueId('Save')" href="#" class="internal-link save-post disabled button">$core_v2_language.GetResource('Save')</a>
				<span class="processing" style="display: none;"></span>
			</span>
		</li>
	</ul>
</fieldset>

#registerEndOfPageHtml('telligent.sharepoint.widgets.listImport')
	<script type="text/javascript" src="$core_v2_encoding.HtmlAttributeEncode($core_v2_widget.GetFileUrl('ui.js'))"></script>
#end
#registerEndOfPageHtml()
	<script type="text/javascript">
		jQuery(function(j){
			j.telligent.sharepoint.widgets.listImport.register({
				groupId           : "$!{core_v2_group.Current.Id}",
				importUrl         : "$core_v2_encoding.JavascriptEncode($core_v2_widget.GetExecutedFileUrl('import.vm'))",
				webUrlHolderId    : "#$core_v2_widget.UniqueId('WebUrl')",
				webUrlErrorMessage: "$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('SiteNameErrorMessage'))",
				listHolderId      : "#$core_v2_widget.UniqueId('ListId')",
				listErrorMessage  : "$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('ListNameErrorMessage'))",
				viewHolderId      : "#$core_v2_widget.UniqueId('ViewId')",
				saveButtonId      : "#$core_v2_widget.UniqueId('Save')",
				errorMessageId    : "#$core_v2_widget.UniqueId('ErrorMessageId')"
			});
		})
	</script>
#end